/* General Styles */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/R.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Header Styles */

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    font-size: larger;
}


/* Main Styles */

main {
    padding: 50px 0;
}

h2::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(0, 0%, 28%);
  z-index: -1;
  transition: transform .3s ease;
}

h2 {
  position: relative;
  font-size: 2em;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #fff;
}


/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 50px;
}